// ==========================================================================
// TEMPLATES - projet
// ==========================================================================
.projet-hero {
  position: relative;
  &__container {
    height: calc(100vh - $desktop-header-height);
  }
  &__image-container {
    height: 100%;
  }
  &__wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 10vh;
    overflow: hidden;
  }
  &__wave-svg {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    animation: wave 10s linear infinite;
    &:nth-of-type(2) {
      left: 100%;
      animation: wave 10s linear 0s infinite;
    }
    &:nth-of-type(3) {
      left: 200%;
      animation: wave 10s linear 0s infinite;
    }
  }
}

.projet-info {
  margin-bottom: 8em;
  margin-top: 3em;
  &__container {
    @include container;
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 1em;
  }
  &__text {
    padding-right: 4em;
    max-width: 750px;
  }
  &__services-title {
    font-size: 23px;
    color: $yellow;
    font-weight: 600;
    margin-bottom: 1em;
  }

  &__services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__services-item {
    font-size: 23px;
    font-weight: 400;
  }
}

.projet-navigation {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(1);
    transition: transform ease 0.3s;
    &--next {
      background: rgb(13, 28, 48);
      background: linear-gradient(
        90deg,
        rgba(13, 28, 48, 0.5) 15%,
        rgba(13, 28, 48, 0.5) 75%,
        rgba(13, 28, 48, 1) 100%
      );
    }
    &--prev {
      background: rgb(13, 28, 48);
      background: linear-gradient(
        90deg,
        rgba(13, 28, 48, 1) 0%,
        rgba(13, 28, 48, 0.5) 25%,
        rgba(13, 28, 48, 0.5) 85%
      );
    }
  }
  &__prev,
  &__next {
    position: relative;
    overflow: hidden;
    &:hover {
      .projet-navigation__image {
        transform: scale(1.1);
      }
    }
  }
  &__prev {
    .projet-navigation__link {
      padding-left: $large-desktop-padding;
      justify-content: flex-start;
    }
    .projet-navigation__link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .projet-navigation__link-nav {
      display: flex;
      align-items: center;
      span {
        margin-left: 0.5em;
      }
      &::before {
        content: "";
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("@/img/fleche.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
      }
    }
  }
  &__next {
    .projet-navigation__link {
      padding-right: $large-desktop-padding;
      justify-content: flex-end;
    }
    .projet-navigation__link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .projet-navigation__link-nav {
      display: flex;
      align-items: center;
      span {
        margin-right: 0.5em;
      }

      &::after {
        content: "";
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("@/img/fleche.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__image {
    height: 30vh;
    width: 100%;
    transform: scale(1);
    transition: transform ease-in-out 0.3s;
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  &__link-nav {
    font-size: 24px;
    font-weight: 400;
    color: $white;
    span {
      margin-bottom: -8px;
    }
  }
  &__link-name {
    font-size: 64px;
    font-weight: 800;
    color: $white;
  }
}

.projet-gallery {
  margin-bottom: 10em;
  &__container {
    @include container;
  }
  &__item {
    position: absolute;
  }
}

@include tablet-only {
  .projet-hero {
    &__container {
      height: calc(100vh - $tablet-header-height);
    }
  }
  .projet-info {
    margin-bottom: 3em;
    &__container {
      grid-template-columns: 1fr;
    }
    &__text {
      padding-right: 15em;
    }
    &__title {
      line-height: 1em;
    }
    &__services-title {
      margin-bottom: 0.35em;
    }
    &__services-item {
      font-size: 1.1rem;
    }
  }

  .projet-navigation {
    &__link-nav {
      font-size: 1rem;
      margin-bottom: 0.5em;
    }
    &__link-name {
      font-size: 2rem;
    }

    &__prev-image,
    &__next-image {
      height: 25vh;
    }

    &__prev {
      .projet-navigation__link {
        padding-left: $tablet-padding;
      }
    }
    &__next {
      .projet-navigation__link {
        padding-right: $tablet-padding;
      }
    }
  }
}

@include mobile-only {
  .projet-hero {
    &__container {
      height: calc(100vh - $mobile-header-height);
    }
  }
  .projet-info {
    margin-bottom: 1em;
    &__title {
      margin-bottom: 0.25em;
    }
    &__text {
      padding-right: 1em;
    }
    &__services-title {
      margin-bottom: 0.25em;
    }
    &__services-item {
      font-size: 1rem;
    }
  }

  .projet-gallery {
    margin-bottom: 5em;
  }

  .projet-navigation {
    &__link-nav {
      font-size: 0.75rem;
    }
    &__link-name {
      font-size: 1rem;
    }

    &__prev-image,
    &__next-image {
      height: 15vh;
    }

    &__prev {
      .projet-navigation__link {
        padding-left: $mobile-padding;
      }
    }
    &__next {
      .projet-navigation__link {
        padding-right: $mobile-padding;
      }
    }
  }
}
