// ==========================================================================
// TEMPLATES - Home
// ==========================================================================

.about {
  position: relative;
  z-index: 1;
  margin-bottom: -50px;
  &__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  &__content {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  &__title {
    margin-bottom: 0.25em;
    transform: translateY(-50px);
    opacity: 0;
  }
  &__text {
    font-size: rem(24);
    max-width: 650px;
    transform: translateY(-50px);
    opacity: 0;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    pointer-events: none;

    svg {
      height: 70%;
      object-fit: contain;
      max-height: 450px;
      max-width: 100%;
    }
  }

  &__image-path {
    opacity: 0;
    transform: scale(0.8) translateX(-100px) translateY(425px);
  }
}

.projects {
  &__wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      pointer-events: none;
      background: linear-gradient(
        90deg,
        rgba(240, 242, 240, 1) 0%,
        rgba(240, 242, 240, 0) 10%,
        rgba(240, 242, 240, 0) 90%,
        rgba(240, 242, 240, 1) 100%
      );
    }
  }
  &__container {
    @include container(0);
  }
  &__content {
    margin-top: 2em;
  }
  &__slider-track {
    overflow: visible;
    cursor: grab;
  }

  &__item.is-active {
    .projects__content {
      opacity: 1;
      transform: translateY(0);
    }
    .projects__image {
      opacity: 1;
      position: relative;
      transform: scale(1);
      &:hover {
        cursor: pointer;
        .projects__image-overlay {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  &__image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1c30cc;
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
  }
  &__image-link {
    color: $white;
    font-size: 21px;
    cursor: pointer;
    border: 1px solid $white;
    padding: 0.85em 1em 0.85em 1em;
    border-radius: 50px;
    transition: 0.25s;
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
  &__content {
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.25s 0.25s;
  }
  &__image {
    height: 1000px;
    max-height: 60vh;
    transform-origin: center;
    opacity: 0.4;
    transform: scale(0.8);
    transition: 0.25s ease-in-out;
  }
  &__title {
    margin-bottom: 0.5em;
    opacity: 0;
    transform: translateY(-50px);
  }
  &__name {
    font-size: rem(40);
    margin: 0.25em 0;
  }
  &__description {
    max-width: 500px;
  }
  &__year {
    font-family: $font-family-default;
    font-size: rem(21);
    font-weight: 500;
    text-decoration: i;
    color: $yellow;
    margin: 0;
  }
  &__logo-container {
    cursor: grab;
    background-color: $main-blue;
    margin: 5em 0;
    transform-origin: left;
    transform: translateX(-100%);
  }

  &__logo-item {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  &__logo-item-container {
    height: 80px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  &__slider {
    opacity: 0;
    transform: translateY(50px);
  }
}

.services {
  position: relative;
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }

  &__list {
    visibility: hidden;
    pointer-events: none;
  }

  &__item p {
    font-size: 25px;
    font-weight: 800;
    color: $secondary-white;
  }

  &__word-container {
    > div {
      position: absolute;
      > p {
        transition: 0.25s ease-in-out;
      }
    }
  }

  &__cloud-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: $font-family-default;
      font-weight: 800;
      white-space: nowrap;
      margin: 0;
    }
  }
}

.talents {
  &__wrapper {
    position: relative;
  }
  &__container {
    @include container;
    padding-bottom: 70px !important;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      pointer-events: none;
      background: linear-gradient(
        90deg,
        rgb(240, 242, 240) 0%,
        rgba(240, 242, 240, 0) 10%,
        rgba(240, 242, 240, 0) 90%,
        rgb(240, 242, 240) 100%
      );
    }
  }

  &__title {
    margin-bottom: 1em;
    position: relative;
    width: fit-content;
    transform: translateY(-50px);
    opacity: 0;
    z-index: 3;
  }

  &__title-highlight {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("@/img/highlighter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform-origin: left;
    transform: scaleY(1.25) scaleX(0) translateY(0px);
  }

  &__item {
    display: flex;
    max-width: 900px;
    width: fit-content;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4em;
    margin-left: 1em;
    flex: 1;
  }
  &__image {
    transform-origin: center;
    transform: scale(1.25);
    flex: 1;
    img {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  &__position {
    font-size: 17.5px;
    font-weight: 500;
    color: $yellow;
    opacity: 0;
    &--1 {
      transform: translateX(-80px);
    }
    &--2 {
      transform: translateX(-80px);
    }
    &--3 {
      transform: translateX(-60px);
    }
    &--4 {
      transform: translateX(-0px);
    }
  }
  &__name {
    font-size: 40px;
    margin-bottom: 0.5em;
    opacity: 0;
    transform: translateX(-50px);
    &--1 {
      transform: translateX(-70px);
    }
    &--2 {
      transform: translateX(-60px);
    }
    &--3 {
      transform: translateX(-40px);
    }
    &--4 {
      transform: translateX(-30px);
    }
  }
  &__text {
    font-size: 20px;
    opacity: 0;
    transform: translateX(-50px);
    &--1 {
      transform: translateX(-50px);
    }
    &--3 {
      transform: translateX(-50px);
    }
    &--4 {
      transform: translateX(-30px);
    }
  }
  &__quote {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    color: $secondary-white;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin-bottom: 0;
    justify-self: flex-end;
    opacity: 0;
    transform: translateX(-50px);
    &--1 {
      transform: translateX(-50px);
    }
    &--2 {
      transform: translateX(20px);
    }
    &--3 {
      transform: translateX(-70px);
    }
    &--4 {
      transform: translateX(-60px);
    }
    &::before {
      content: "<<";
      font-family: manrope;
      font-size: 1em;
      letter-spacing: -0.3em;
      color: $yellow;
      position: relative;
      top: 0;
      left: 0;
      margin-right: 0.5em;
    }
    &::after {
      content: ">>";
      font-family: manrope;
      font-size: 1em;
      letter-spacing: -0.3em;
      color: $yellow;
      position: relative;
      top: 0em;
      right: 0em;
    }
  }
  &__track {
    overflow: visible;
    cursor: grab;
  }

  &__wave-container {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  &__wave-svg {
    position: absolute;
    top: 1px;
    z-index: 1;
    left: 0;
    width: 100%;
    animation: wave 20s linear reverse infinite;
    &:nth-of-type(2) {
      left: 100%;
      animation: wave 20s linear 0s reverse infinite;
    }
    &:nth-of-type(3) {
      left: 200%;
      animation: wave 20s linear 0s reverse infinite;
    }
  }
}

@include tablet-only {
  .about {
    &__container {
      grid-template-columns: 1fr;
      position: relative;
    }
    &__image {
      position: absolute;
      top: 1em;
      right: 2em;
      width: 40%;
    }
  }

  .projects {
    &__image {
      height: 400px;
    }
    &__logo-container {
      margin: 2em 0;
    }
    &__logo-item {
      height: 170px;
    }
    &__logo-item-container {
      height: 50px;
    }
  }

  .services {
    margin: 3em 0;
    &__item {
      p {
        margin-bottom: 0;
      }
    }
  }

  .talents {
    margin-bottom: -3em;
    &__image {
      transform: scale(1.2) translateY(50px);
      flex: 1;
    }
    &__content {
      margin-top: 3em;
      flex: 1;
    }
    &__container {
      padding-bottom: 3em !important;
    }
    &__item {
      padding-bottom: 5em;
    }
    &__position {
      font-size: 15px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__name {
      font-size: 35px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__text {
      font-size: 16px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__quote {
      font-size: 18px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__wave-container {
      margin-top: -3em;
      margin-bottom: 0em;
      height: 50px;
      bottom: 30px;
    }
  }
}

@include mobile-only {
  .about {
    &__container {
      align-items: center;
      justify-content: center;
    }
    &__image {
      width: 100%;
      height: 400px;
      position: relative;
      top: unset;
      right: unset;
      img {
        height: 70%;
        object-fit: contain;
      }
    }
    &__text {
      padding-right: 0;
      margin-bottom: 0;
      font-size: 18px;
    }
    &__content {
      margin-bottom: 0;
    }
  }

  .projects {
    &__title {
      z-index: 4;
      position: relative;
    }
    &__logo-container {
      margin: 1em 0;
    }
    &__logo-item {
      height: 120px;
    }
    &__logo-item-container {
      height: 40px;
    }
  }

  .services {
    &__item {
      p {
        font-size: 1rem;
      }
    }
  }

  .talents {
    &__wrapper {
      z-index: 1;
    }
    &__container {
      padding-bottom: 0 !important;
    }
    &__title {
      position: relative;
      z-index: 3;
    }
    &__image {
      transform: scale(1);
      flex: 1;
    }
    &__content {
      margin-top: 1em;
      margin-left: 0;
      align-items: center;
      flex: 2;
      padding-top: 0;
    }
    &__position {
      font-size: 15px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__name {
      font-size: 35px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__text {
      font-size: 18px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__quote {
      font-size: 18px;
      &--1 {
        transform: translateX(0);
      }
      &--2 {
        transform: translateX(0);
      }
      &--3 {
        transform: translateX(0);
      }
      &--4 {
        transform: translateX(0);
      }
    }
    &__item {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    &__wave-container {
      margin-top: -3em;
      margin-bottom: 0em;
      height: 120px;
      bottom: -1em;
      z-index: 2;
    }
    &__wave-svg {
      top: 1px;
    }
  }
}
