.hero {
  position: relative;
  margin-top: -$mobile-header-height;

  &__video {
    position: relative;
    display: block;
    height: fit-content;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;

    video {
      position: relative;
      object-fit: cover;
      width: 200%;
      height: 200%;
    }
  }
  &__container {
    @include container($mobile-header-height);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
    padding-bottom: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: transparent
        linear-gradient(
          0deg,
          #ffffff00 22%,
          #bfc2c642 40%,
          #3a434fcd 70%,
          #0a1524 96%
        )
        0% 0% no-repeat padding-box;
      transition: opacity 0.25s ease-in-out;
      z-index: -1;
    }
    &--hidden {
      &::after {
        opacity: 0;
      }
    }
  }
  &__wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 10px;
  }
  &__wave-svg {
    position: absolute;
    bottom: -1px;
    z-index: 1;
    left: 0;
    width: 100%;
    animation: wave 10s linear infinite;
    &:nth-of-type(2) {
      left: 100%;
      animation: wave 10s linear 0s infinite;
    }
    &:nth-of-type(3) {
      left: 200%;
      animation: wave 10s linear 0s infinite;
    }
  }
  &__title-container {
    align-self: flex-start;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    z-index: 2;
    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__title {
    color: $white;
    line-height: 1em;
    font-size: rem(28);
    opacity: 0;
    transform: translateY(50px);
  }
  &__word {
    font-size: rem(28);
    font-family: $font-family-title;
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.15s ease-in-out;
    width: fit-content;

    &.next {
      &--1 {
        opacity: 0.2;
        transform: translateY(0px);
      }
      &--2 {
        opacity: 0.1;
        transform: translateY(0px);
      }
    }

    &.swiper-slide-active {
      opacity: 1;
      transform: translateY(0);

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: -20px;
        width: 100%;
        height: 100%;
        background-image: url("@/img/highlighter.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        opacity: 1;
        z-index: -1;
        transform: translateX(0em) scaleX(1.2);
      }
      &.splide__slide--clone {
        opacity: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -0px;
      left: -0px;
      width: 100%;
      height: 100%;
      background-image: url("@/img/highlighter.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 55%;
      transform-origin: left;
      transform: translateX(-0.1em) scaleX(0);
      opacity: 0;
      transition: 0.45s ease-in-out 0.35s;
      z-index: -1;
    }
  }
  &__word-slider {
    opacity: 0;
    transform: translateY(50px);
  }
  &__controls {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
  }
  &__volume {
    position: absolute;
    right: 0;
    opacity: 1;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
    &--muted {
      opacity: 0.2;
    }
  }
  &__button-container {
    position: relative;
    width: fit-content;
    display: flex;
    border: 1px solid $white;
    border-radius: 50px;
    justify-content: center;
  }
  &__button {
    color: $white;
    padding: 0.75em 2em 0.75em 2em;
    font-weight: 400;
    cursor: pointer;
    &--back,
    &--play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &--play {
      position: relative;
    }
    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  .splide__track {
    overflow: visible !important;
  }
}

@include desktop-only {
  .hero {
    margin-top: -$desktop-header-height;
    &__container {
      @include container($desktop-header-height);
      align-items: flex-start;
    }
    &__title {
      color: $white;
      line-height: 1em;
      font-size: rem(64);
    }
    &__title-container {
      align-self: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 1.4em;
    }
    &__button-container {
      align-self: center;
      overflow: hidden;
      opacity: 0;
      transform: translateY(50px);
    }
    &__button {
      font-size: 23px;
      transition: 0.25s ease-in-out;
      &:hover {
        background-color: $white;
        color: $blue;
      }
    }

    &__wave {
      bottom: -50px;
    }
    &__word {
      font-size: rem(64);
      font-family: $font-family-title;
      text-transform: uppercase;
      position: relative;
      /* add image to after pseudo element */
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("@/img/highlighter.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }
    &__video {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 0;
      pointer-events: none;
      padding-bottom: 50.25%; /* 16:9 */
      height: 0 !important;
      transform: translateX(0%);
      video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// between 1024px and 1280px
@media (min-width: 1024px) and (max-width: 1280px) {
  .hero {
    &__title {
      color: $white;
      line-height: 1em;
      font-size: 44px;
    }
    &__word {
      font-size: 44px;
    }
  }
}
