.contact {
  background-color: $blue;
  position: relative;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 4em;
    margin-top: 4em;
    padding-top: 10em !important;
  }
  &__wave-container {
    position: absolute;
    top: -15vh;
    left: 0;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    z-index: 3;
  }
  &__wave-svg {
    position: absolute;
    top: 1px;
    z-index: 1;
    left: 0;
    width: 100%;
    animation: wave 50s linear reverse infinite;
    &:nth-of-type(2) {
      left: 100%;
      animation: wave 50s linear 0s reverse infinite;
    }
    &:nth-of-type(3) {
      left: 200%;
      animation: wave 50s linear 0s reverse infinite;
    }
  }
  &__title {
    color: $white;
  }
  &__text {
    color: $white;
  }
}

.gform_required_legend {
  display: none;
}

.contact__form {
  .gform_wrapper {
    label.gfield_label {
      display: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      cursor: text;
      padding: 0.85em 1em 0.85em 1em !important;
      border: 3px solid $tertiary-blue;
      border-radius: 50px;
      font-size: 20px;
      font-weight: 400;
      color: $white;
      &::placeholder {
        color: $white;
      }
      &:focus {
        border-color: $yellow;
        outline: none;
      }
    }
    textarea {
      border-radius: 20px;
      padding: 1em 1em !important;
      &:focus {
        border-color: $yellow;
        outline: none;
      }
    }
    .gform_footer {
      position: relative;
    }
    button[type="submit"] {
      background-color: $yellow;
      font-weight: 500;
      color: $white;
      border: none;
      border-radius: 50px;
      padding: 0.85em 1em 0.85em 1em;
      letter-spacing: 0.1em;
      transition: background-color 0.3s ease-in-out;
      margin-bottom: 0 !important;
      display: flex;
      line-height: 15px;
      align-items: center;
      &:hover {
        background-color: $white;
        color: $yellow;
        &::after {
          background-image: url("@/img/fleche-jaune.svg");
        }
      }
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 0.5em;
        background-image: url("@/img/fleche.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.gfield_validation_message,
.contact .gform_wrapper.gravity-theme .validation_message {
  background: transparent;
  border: none;
  font-weight: 800;
  color: red;
  margin: 0;
}

.contact .gform_confirmation_message {
  background: transparent;
  border: none;
  font-weight: 500;
  color: rgb(79, 188, 49) !important;
  margin: 0;
}

@include tablet-only {
  .contact {
    &__container {
      grid-template-columns: 1fr;
      gap: 2em;
      @include container(2em);
      padding-top: 2em !important;
    }
    &__wave-container {
      height: 50px;
      top: -49px;
    }
  }
}

@include mobile-only {
  .contact {
    &__container {
      grid-template-columns: 1fr;
      gap: 2em;
      @include container(2em);
      padding-top: 2em !important;
    }
    &__text {
      margin-bottom: 0;
    }
    &__wave-container {
      height: 50px;
      top: -2em;
    }
    &__wave-svg {
      top: 1px;
    }
  }
}
