// ==========================================================================
// MODULES - Header
// ==========================================================================
html {
  background-color: black;
}
.header {
  &__container {
    @include container(2em, $desktop-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 2em;
  }
  &__nav {
    width: 70%;
  }
  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__nav-link {
    color: $text-color-default;
    font-size: 1.2rem;
    opacity: 1;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
