// ==========================================================================
// MODULES - Header
// ==========================================================================

.header {
  z-index: 5;
  background-color: transparent;
  transition: background-color ease-in-out 0.2s 0.47s;
  &--open {
    background: $blue;
    transition: background-color 0.3s;
  }
  /*   &--scrolled {
    background-color: $white;
    .header__nav-link {
      color: $blue;
    }
  } */

  &__container {
    @include container(1em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: $mobile-header-height;
  }
  &__nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__logo {
    height: 50px;
  }

  &__nav-list {
    display: flex;
    width: 100%;
    &--mobile {
      padding: 0 $mobile-padding;
      flex-direction: column;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(13, 28, 48, 1) 0%,
        rgba(13, 28, 48, 0) 100%
      );
      left: 0;
      top: 100%;
      gap: 0.5em;
      height: calc(100vh - #{$mobile-header-height});
      border-radius: 0 0 1em 1em;
      max-height: 0;
      overflow: hidden;
      transition: 0.6s ease-in-out 0s;
      box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);

      &--alt {
        background: linear-gradient(
          180deg,
          rgba(240, 242, 240, 1) 0%,
          rgba(240, 242, 240, 0) 100%
        );
        // make background blurry
        backdrop-filter: blur(1px);
      }
    }

    &--open {
      max-height: 100vh;
      padding-top: 4em;
      padding-bottom: 4em;
      backdrop-filter: blur(5px);
      transition: 0.6s ease-in-out 0.3s;
    }
    &--desktop {
      display: none;
    }
  }

  &__nav-item {
    opacity: 0;
    margin-bottom: 0em;
    transform: translateY(-10px);
    transition: 0.1s ease-in-out;
    &--open {
      transform: translateY(-0px);
      opacity: 1;
      margin-bottom: 1em;
      &:nth-child(1) {
        transition: 0.2s ease-in-out 0.6s;
      }
      &:nth-child(2) {
        transition: 0.2s ease-in-out 0.7s;
      }
      &:nth-child(3) {
        transition: 0.2s ease-in-out 0.8s;
      }
      &:nth-child(4) {
        transition: 0.2s ease-in-out 0.9s;
      }
      &:nth-child(5) {
        transition: 0.2s ease-in-out 1s;
      }
    }
  }
  &__nav-link {
    color: $text-color-default;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;

    &--alt {
      color: $blue;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  &__hamburger {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    &--open {
      .header__hamburger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      .header__hamburger-line:nth-child(2) {
        opacity: 0;
      }
      .header__hamburger-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  &__hamburger-line {
    width: 100%;
    height: 2px;
    background-color: $text-color-default;
    opacity: 1;
    transform: rotate(0deg) translate(0, 0);
    transition: 0.3s;
  }

  &--alt {
    .header__hamburger-line {
      width: 100%;
      height: 2px;
      background-color: $blue;
    }
    .header__container {
      background-color: $white;
    }
  }
}

// select only sizes larger than 450px and smaller than 1024px without using mixins

@media (min-width: 450px) and (max-width: 1024px) {
  .header {
    &__nav-list {
      display: flex;
      width: 100%;
      &--mobile {
        padding: 0 $tablet-padding;
      }
      &--open {
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }
  }
}

@include desktop-only {
  .header {
    height: $desktop-header-height;
    width: 100%;
    &__container {
      @include container(2em, $desktop-padding);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding-top: 2em;
    }
    &__logo {
      height: 100px;
    }

    &__nav {
      width: 70%;
    }
    &__nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-right: 0;
      &--mobile {
        display: none;
      }
      &--desktop {
        display: flex;
      }
    }
    &__nav-link {
      font-size: 1.43rem;
      opacity: 1;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }

    &__hamburger {
      display: none;
    }
  }
}
