// ==========================================================================
// MIXINS - Buttons
// ==========================================================================

// Buttons mixins
@mixin button {
  background-color: $black;
  padding: 0.75em 2em 0.45em 2em;
  font-size: 14px;
  font-weight: 700;
  color: $white;
  border-radius: 3px;
  cursor: pointer;
}
