// ==========================================================================
// MIXINS - Grid and Containers
// ==========================================================================

@mixin container($ptb: 1em, $plr: $mobile-padding, $mxw: 2550px) {
  padding: $ptb $plr;
  margin-left: auto;
  margin-right: auto;

  @include min-width($mobile-threshold) {
    // if $plr is not set, use the default tablet padding
    @if $plr == $mobile-padding {
      $plr: $tablet-padding;
    }
    padding: $ptb $plr;
  }

  @include min-width($tablet-threshold) {
    // if $plr is not set, use the default desktop padding
    @if $plr == $mobile-padding {
      $plr: $desktop-padding;
    } @else if $plr == $tablet-padding {
      $plr: $desktop-padding;
    }
    margin-left: auto;
    margin-right: auto;
    padding: $ptb $plr;
    max-width: $mxw;
  }

  @include min-width($desktop-threshold) {
    // if $plr is not set, use the default large desktop padding
    @if $plr == $mobile-padding {
      $plr: $large-desktop-padding;
    } @else if $plr == $tablet-padding {
      $plr: $large-desktop-padding;
    } @else if $plr == $desktop-padding {
      $plr: $large-desktop-padding;
    }
    padding: $ptb $plr;
  }
}
