// ==========================================================================
// MIXIN - Button
// ==========================================================================

@mixin paragraph($color: $black) {
  font: 400 rem(16) $font-family-default;
  margin-bottom: 1em;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  color: $color;
  @include tablet-only {
    font-size: rem(16);
  }
  @include desktop-only {
    font-size: rem(23);
  }
}

@mixin list {
  li {
    display: flex;
    align-items: center;
    font: 400 rem(14) $font-family-default;
    color: $black;
    padding: 0.2em 0;
    &:before {
      content: "";
      display: block;
      background-color: $black;
      border-radius: 50%;
      min-width: rem(5);
      height: rem(5);
      margin-right: 1em;
    }
    @include desktop-only {
      font-size: rem(22);
      &:before {
        width: rem(6);
        height: rem(6);
      }
    }
  }
}

p {
  @include paragraph;
}
